@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s;
	text-decoration: none;
	list-style: none;
	color: $primary-color;
	font-family: "Roboto", sans-serif;
}

@mixin theme($theme: DarkGray) {
	background: $theme;
	box-shadow: 0 0 1px rgba($theme, 0.25);
	color: #fff;
}

@mixin d-flex($align: center, $justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

%container {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	padding: 0 1.5rem;
}

body {
	font: 100%;
	color: $primary-color;
	background-color: #070724;
	background-image: url("../public/assets/background-stars.svg");
	background-position: center;
	background-size: cover;
	main {
		min-height: 100vh;
	}
	.home-page {
		@include d-flex();
		width: 100%;
		height: calc(100vh - 150px);
		text-align: center;

		h4 {
			font-size: 3rem;
			background: linear-gradient(135deg, #bada55, red, blue, purple);
			background-clip: text;
			color: transparent;
			font-family: "Rubik Vinyl", cursive;
			text-transform: capitalize;
		}
	}
	header {
		border-bottom: 1px solid $primary-color;
		padding: 2rem 0;
		h2 {
			background: linear-gradient(90deg, blue, purple);
			font-weight: 900;
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			font-size: 2rem;
			font-family: "Rubik Vinyl", cursive;
			&:hover {
				background: linear-gradient(90deg, purple, darkblue);
				background-clip: text;
				-webkit-background-clip: text;
			}
		}
		div {
			@include d-flex($align: center, $justify: space-between);
			@extend %container;
			nav {
				ul {
					@include d-flex();
					li {
						margin: 0 1rem;
						a {
							text-transform: uppercase;
							font-weight: 600;
							color: rgba($color: $primary-color, $alpha: 0.6);
							&::after {
								content: "";
								width: 0;
								height: 1px;
								background-color: rgba($color: $primary-color, $alpha: 0.6);
								position: absolute;
								left: 50%;
								bottom: -0.7rem;
								transform: translateX(-50%);
								transition: all 0.4s;
							}
							&.active {
								color: rgba($color: $primary-color, $alpha: 1);

								&::after {
									width: 70%;
									background-color: rgba($color: $primary-color, $alpha: 1);
								}
							}
							position: relative;
							&:hover {
								&::after {
									width: 70%;
								}
							}
						}
					}
				}
			}
			.burger {
				display: none;
				background: transparent;
				border: none;
				outline: none;
			}
			@media (max-width: 1024px) {
				nav {
					display: none;
				}
				.burger {
					display: block;
				}
			}
		}
	}
	.planet-section {
		padding: 5rem;
		.container {
			@extend %container;
			.overal {
				display: grid;
				grid-template-columns: 60% 30%;
				gap: 10%;
				h2 {
					font-size: 5rem;
				}
				p {
					font-size: 1.3rem;
					margin-bottom: 1rem;
				}
				.img {
					@include d-flex();
					position: relative;
					img {
						flex-shrink: 0;
						width: 500px;
					}
					.geology {
						position: absolute;
						width: 200px;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				.action-btns {
					margin-top: 1rem;
					button {
						padding: 1rem;
						border: 1px solid rgba($color: $primary-color, $alpha: 0.7);
						background-color: transparent;
						outline: none;
						display: block;
						margin-bottom: 1rem;
						width: 100%;
						span {
							color: rgba($color: $primary-color, $alpha: 0.5);
						}
						text-transform: uppercase;

						cursor: pointer;
						transition: all 0.5s;
						&:hover {
							background: linear-gradient(90deg, rgb(1, 1, 26), darkblue);
						}
						&.active {
							background: linear-gradient(90deg, darkblue, rgb(1, 1, 26));
						}
					}
				}
			}
			.stats {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				margin-top: 4rem;
				gap: 1rem;
				div {
					border: 1px solid rgba($color: $primary-color, $alpha: 0.6);
					padding: 2rem 1rem;
					text-align: center;

					h5 {
						color: rgba($color: $primary-color, $alpha: 0.6);
						text-transform: uppercase;
						font-size: 1.2rem;
						margin-bottom: 0.5rem;
					}
					span {
						font-size: 2rem;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			padding: 3rem 0;
			.container {
				.overal {
					grid-template-columns: 100%;
					gap: 1rem;
					h2 {
						font-size: 3rem;
					}
					p {
						font-size: 1.2rem;
					}
					.img {
						img {
							max-width: 400px;
							width: 100%;
						}
					}
				}
				.stats {
					margin-top: 3rem;
				}
			}
		}
	}
}
