@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s;
	text-decoration: none;
	list-style: none;
	color: $primary-color;
	font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #7f7fc0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, darkblue, purple);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(135deg, purple, darkblue);
}

@mixin theme($theme: DarkGray) {
	background: $theme;
	box-shadow: 0 0 1px rgba($theme, 0.25);
	color: #fff;
}

@mixin d-flex($align: center, $justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

%container {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	padding: 0 1.5rem;
}

body {
	font-size: 100%;
	color: $primary-color;
	background-color: #070724;
	background-image: url("../public/assets/background-stars.svg");
	background-position: center;
	background-size: cover;
	main {
		min-height: 100vh;
	}
	.home-page {
		@include d-flex();
		width: 100%;
		height: calc(100vh - 150px);
		text-align: center;

		h4 {
			font-size: 3rem;
			background: linear-gradient(135deg, #bada55, red, blue, purple);
			background-clip: text;
			color: transparent;
			font-family: "Rubik Vinyl", cursive;
			text-transform: capitalize;
		}
	}
	header {
		a {
			h2 {
				background: linear-gradient(90deg, blue, purple);
				font-weight: 900;
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				font-size: 2rem;
				font-family: "Rubik Vinyl", cursive;
				&:hover {
					background: linear-gradient(90deg, purple, darkblue);
					background-clip: text;
					-webkit-background-clip: text;
				}
			}
		}
		div {
			@include d-flex($align: center, $justify: space-between);
			@extend %container;
			border-bottom: 1px solid $primary-color;

			padding-top: 2rem;
			padding-bottom: 2rem;
			nav {
				ul {
					@include d-flex();
					li {
						margin: 0 1rem;
						a {
							text-transform: uppercase;
							font-weight: 600;
							color: rgba($color: $primary-color, $alpha: 0.4);
							position: relative;
							&::after {
								content: "";
								width: 0;
								height: 1px;
								background-color: rgba($color: $primary-color, $alpha: 0.4);
								position: absolute;
								left: 50%;
								bottom: -0.7rem;
								transform: translateX(-50%);
								transition: all 0.4s;
							}
							&.active {
								color: rgba($color: $primary-color, $alpha: 1);

								&::after {
									width: 70%;
									background-color: rgba($color: $primary-color, $alpha: 1);
								}
							}

							&:hover {
								&::after {
									width: 70%;
								}
							}
						}
					}
				}
			}
			.burger {
				display: none;
				background: transparent;
				border: none;
				outline: none;
			}
			@media (max-width: 1024px) {
				flex-direction: column;
				a {
					h2 {
						margin-bottom: 2rem;
					}
				}
			}
			@media (max-width: 768px) {
				top: 0;
				left: 0;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				overflow: hidden;

				width: 100%;
				a {
					h2 {
						margin-bottom: 0;
					}
				}
				&.active {
					padding: 2rem 1.5rem;
					// position: absolute;
					z-index: 5;
					display: flex;
					border-bottom: none;

					nav {
						display: block;
					}
				}
				nav {
					display: none;
					z-index: 2;
					width: 100%;
					position: relative;
					margin-top: 2rem;
					&:before {
						content: "";
						width: calc(100% + 3rem);
						height: 1px;
						background: rgba($color: $primary-color, $alpha: 1);
						display: block;
						position: absolute;
						top: 0;
						left: -1.5rem;
					}

					ul {
						height: 100%;
						flex-direction: column;
						justify-content: start;

						li {
							margin: 0;
							border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.6);
							padding: 1.4rem 0;
							width: 100%;
							text-align: center;
							a {
								font-size: 1.4rem;
								&:after {
									display: none;
								}
							}
						}
					}
				}

				.burger {
					display: block;
				}
			}
		}
	}
	.planet-section {
		padding: 5rem;
		.container {
			@extend %container;
			.overal {
				display: grid;
				grid-template-columns: 60% 35%;
				gap: 5%;
				h2 {
					font-size: 5rem;
				}
				p {
					font-size: 1.3rem;
					margin-bottom: 1rem;
				}
				.img {
					@include d-flex();
					position: relative;
					img {
						flex-shrink: 0;
						width: 500px;
					}
					.geology {
						position: absolute;
						width: 200px;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				.source {
					img,
					a {
						margin-left: 0.5rem;
					}
				}
			}
			.action-btns {
				margin-top: 1rem;
				&.mob {
					display: none;
				}
				button {
					padding: 1rem;
					border: 1px solid rgba($color: $primary-color, $alpha: 0.7);
					background-color: transparent;
					outline: none;
					display: block;
					margin-bottom: 1rem;
					width: 100%;

					text-transform: uppercase;
					font-weight: 600;
					font-size: 1rem;
					cursor: pointer;
					transition: all 0.5s;

					color: rgba($color: $primary-color, $alpha: 0.5);

					&:hover {
						background: linear-gradient(90deg, rgb(1, 1, 26), darkblue);
					}
					&.active {
						background: linear-gradient(90deg, darkblue, rgb(1, 1, 26));

						color: rgba($color: $primary-color, $alpha: 1);
					}
				}
			}
			.stats {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
				margin-top: 4rem;
				gap: 1rem;
				div {
					border: 1px solid rgba($color: $primary-color, $alpha: 0.6);
					padding: 2rem 1rem;
					text-align: center;

					h5 {
						color: rgba($color: $primary-color, $alpha: 0.6);
						text-transform: uppercase;
						font-size: 1.2rem;
						margin-bottom: 0.5rem;
					}
					span {
						font-size: 2rem;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			padding: 3rem 0;
			.container {
				.overal {
					grid-template-columns: 100%;
					gap: 1rem;

					.img {
						img {
							max-width: 400px;
							width: 100%;
						}
						.geology {
							max-height: 200px;
							object-fit: contain;
						}
					}

					.info {
						h2 {
							font-size: 3rem;
							margin-bottom: 1rem;
						}
						p {
							font-size: 1.2rem;
						}
					}
				}
				.stats {
					margin-top: 3rem;
				}
				.action-btns {
					&.desktop {
						display: none;
					}
					&.mob {
						display: block;
						margin-top: 0;
						margin-bottom: 2rem;
					}
				}
			}
		}
		@media (max-width: 768px) {
			.container {
				.stats {
					grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				}
			}
		}
	}
}
